*{
  margin: 0;
  padding: 0;
}

*:focus{
  outline: 2px solid #1E90FF;
  outline-offset: 1px;
}

html{
  height: 100%;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Bebas Neue";
}

.wrapper{
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100%;
  color: #fff;
  background-image: url(../images/Rectangle1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.block {
  max-width: 285px;
}

.button {
  display: inline-block;
  text-decoration: none;
}

.block-link{
  display: flex;
  padding: 12px 24px;
  background-color: #1E90FF;
}

.block-link:hover{
  background-color: rgba(30, 144, 255, 0.8);
}

.block-link:active{
  background-color: rgba(30, 144, 255, 0.8);
}

.block-link::before{
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-image: url(../images/yulduzcha.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

.block-link-child {
  font-style: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}

.sayt-title{
  color: #fff;
  margin: auto;
  Font-size: 24px;
  Line-height: 29px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 24px;
}

.container-right {
  width: 600px;
  padding: 54px;
  color: #222222;
  box-sizing: border-box;
}

.sayt-title-right {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 400;
  Font-size: 24px;
  Line-height: 29px;
}

.sayt-hr {
  margin-top: 0;
  margin-bottom: 24px;
  border: 0;
  height: 1px;
  background-color: #999999;
}


.sayt-card {
  list-style-type: none;
}

.sayt-card-child {
  display: flex;
}

.forest{
  margin-right: 16px;
  margin-bottom: 10px;
}

.sayt-card-img{
  margin-bottom: 23px;
}

.text{
  Font-size: 14px;
  Line-height: 16px;
  font-weight: 400;
  text-transform: lowercase;
}

.sayt-card-link {
  display: inline-block;
  margin-bottom: 4px;
  color: #222222;
  text-decoration: none;
}

.sayt-card-link:hover{
  color: #1E90FF;
}

.sayt-card-link:active{
  color: rgba(30, 144, 255, 0.6);
}

.sayt-card-title{
  margin-top: 16px;
  Font-size: 18px;
  font-weight: 400;
  Line-height: 22px;
  letter-spacing: 2px;
}

.sayt-car-meta{
  font-family: "Roboto Condensed", "Arial", sans-serif;
  Font-size: 14px;
  Line-height: 16px;
  display: flex;
}


.data{
  display: flex;
  margin-right: 25px;
  align-items: center;
  color: #888888;
}

.data::before{
  background-image: url(../images/Vector\(2\).svg);
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

.number{
  display: flex;
  align-items: center;
  color: #666666;
}

.number::before{
  background-image: url(../images/Vector\(3\).svg);
  width: 15px;
  height: 10px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

.button-hero{
  display: block;
  Font-size: 14px;
  Line-height: 16px;
  font-family: "Roboto Condensed";
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  color: #fff;
  border: 0;
  border-radius: 4px;
  background-color: #1E90FF;
  text-align: center;
  cursor: pointer;
}

.button-hero:hover{
  background-color: rgba(30, 144, 255, 0.8);
}

.button-hero:active{
  background-color: rgba(30, 144, 255, 0.6);
}